{% extends 'base.html' %}
{% block title %}Question Box{% endblock %}
{% block content %}

    <form action="{{ url_for('judge') }}" method="POST">
    <div class="mt-5">
    {% for question in questions %}
        <div class="card mb-2">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p class="fw-light">
                                {{ question.question }}
                            </p>
                        </div>
                        <div class="col-3">

                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="{{ question.id }}" value="0" id="{{ question.id }}true" required>
                                        <label class="btn btn-outline-info px-4" for="{{ question.id }}true">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            </svg>
                                        </label>

                                    <input type="radio" class="btn-check" name="{{ question.id }}" value="1" id="{{ question.id }}false">
                                        <label class="btn btn-outline-danger px-4" for="{{ question.id }}false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                            </svg>
                                        </label>

                                    <div class="invalid-feedback">未回答です</div>

                                </div>

                        </div>

                            <div class="col-2">
                                <div class="text-right">
                                    <button type="submit" formaction="{{ url_for('delete') }}" formmethod="post" name="btn-delete" value="{{ question.id }}" class="btn btn-outline-secondary">
                                        削除
                                    </button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-5">
    <input type="submit" class="btn btn-primary px-4" value="採点する">
    </div>
    </form>


{% endblock %}